header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

body {
    background: url(ImagesSf/Background.jpg) no-repeat fixed top center;
    background-size: 100% 100%;  
    height: 100%;

}
html {
    height: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    padding-bottom: 5em;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}
#sideMenu {
    width: 250px;
    float: right;
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.801);
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-left: black solid 5px;
   }

#shoppingMenu{
    margin-left: 12em;
    margin-bottom: 5em;
    display: flex;
    position:relative; 
    margin-right: 10em;
    flex-wrap: wrap;
    align-content: space-between;
    height: 400px;
    width: 1000px;
    float: right;
}

.club{
    float: left;
    position: relative;
    width: 250px;
    height: 420px;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 0.6em;
}

.clubs
{
    
    height:275px; 
    width:200px;
}


.clubs2
{
    height:200px; 
    width:210px;
}


footer
{
    display: inline-flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
}
